.question_image{
  /* display: none; */
  max-width: 90%;
  max-height: 45%;
  left: 0;
  right: 60%;
  bottom: 10%;
  justify-content: center;
  align-items: center;
  /* bottom: 50%; */
  position: absolute;

}

.question-section {
  width: 100%;
  height: 20rem;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
}

.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
